.input-group {
  margin-bottom: 10px;
}
.jumbotron {
  margin-top: 10%;
}
.input-group-addon,
.input-group-btn {
  width: 100px;
}
.input-group-btn > .btn {
  width: 100%;
}
.enu {
  font-size: 13pt;
}
.col {
  width: 50px;
  height: 50px;
  background-color: inherit;
}
.red, .green, .blue {
  color: #ffffff;
}
.red {
  background-color: #cc0000;
}
.green {
  background-color: #66cc00;
}
.blue {
  background-color: #0099cc;
}
.bg-primary {
  background-color: #ff3f1d;
  color: #ffffff;
}
